.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ccc;
  padding: 20px;
  width: 800px;
}

select, input[type="radio"] {
  margin-left: 10px;
}

button[type="submit"] {
  margin-top: 20px;
  padding: 10px;
  background-color: #FF3C15;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #D03111;
}

select {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.label {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.labelText {
  display: inline-block;
  text-align: left;
  width: 600px;
  font-size: 14px !important;
}

.labelTextRabies {
  display: inline-block;
  text-align: left;
  width: 500px;
  font-size: 14px !important;
}

.labelTextName {
  display: inline-block;
  text-align: left;
  width: 150px;
}

.popupContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  position: relative;
  background-color: rgb(255, 213, 214);
  padding: 2rem;
  border: 2px solid black;
  max-width: 400px;
  color: #D90851;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #D90851;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  width: 1.2em;
  height: 1.2em;
  border: 2px solid #068E96;
  border-radius: 4px;
  background-color: #07B1BC;
  position: relative;
}

input[type="checkbox"]::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg) scaleX(-1);
  width: 30%; /* adjust the size of the checkmark */
  height: 60%; /* adjust the size of the checkmark */
  border: 2px solid white;
  border-top: none;
  border-right: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}

input[type="checkbox"]:checked::before {
  opacity: 1;
}

input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}
